[Desktop Entry]
Type=Application
Version=1.0
Name=Wallpaper LX
Comment=Set wallpapers
Comment[es]=Establece fondos de pantallas
Exec=/opt/Wallpaper-LX/Wallpaper-LX
Icon=wallpaper-lx
Terminal=false
Categories=Utility;